body {
    display: flex;
    min-height: 100vh;
    background-color:slategray;
    flex-direction: column;
    align-items: center;
    font-family: "roboto";
    justify-content: center;
}

.shadowContainer {
    box-shadow: 5px 5px 40px black;
    border-radius: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:crimson;
    box-shadow: inset 0px 0px 24px black;
    border-radius: 40px;
}

.title {
    font-family: "sacramento";
    color:gainsboro;
    font-size: 48px;
    font-weight: 900;
    margin: 20px;
}

.playSpace {
    flex-shrink: 0;
    display: grid;
    gap: 1px;
    padding: 10px;
    background-color:gainsboro;
    box-shadow: 0px 0px 16px black;
    border-radius: 15px;
}

.settings {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin: 40px;
}

.sliderContainer,
.eraseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color:antiquewhite;
    box-shadow: 2px 2px 5px  black;
    cursor: pointer;
}

.slider {
    width: 70%;
    background: red;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    background: red;
}
